{
  "engines": {
    "node": ">=16.0.0 <21.0.0"
  },
  "overrides": {
    "react-router-dom": {
      "engines": {
        "node": ">=16.0.0"
      }
    },
    "react-router": {
      "engines": {
        "node": ">=16.0.0"
      }
    }
  }
}
